---

---
<button submit-button>
    送信
</button>

<script>
    const button = document.querySelector('[submit-button]');
    button.addEventListener('click', () => {
        alert('送信しました');
    });
</script>
